         @import 'vars';
         @import 'fonts';
         @import 'reset';
         @import 'global';
         @import 'libs';
         .header {
             background-color: #FFF;
             background: rgb(0, 0, 0);
             background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(173, 196, 49, 1) 100%, rgba(173, 196, 49, 1) 100%);
             &__top {
                 display: flex;
                 justify-content: space-between;
                 align-items: center;
                 padding: 24px 0;
             }
             &__inner {
                 padding: 50px 0 116px;
                 display: flex;
             }
             &__text {
                 margin-top: 100px;
             }
             &__title {
                 color: $default;
                 margin-bottom: 40px;
                 @extend%montserrat-700;
                 font-size: 48px;
                 line-height: 59px;
             }
             &__subtitle {
                 margin-bottom: 60px;
                 @extend%montserrat-500;
                 font-size: 18px;
                 line-height: 22px;
             }
             &__btn {
                 padding: 16px 20px 16px 50px;
                 @extend%montserrat-700;
                 background-color: $secondary;
                 border: 1px solid $accent;
                 font-size: 15px;
                 line-height: 18px;
                 color: $white;
                 border-radius: 5px;
                 position: relative;
                 box-shadow: 11px 11px 8px 0px rgba(34, 60, 80, 0.2);
                 & svg {
                     position: absolute;
                     top: 10px;
                     left: 12px;
                     width: 30px;
                     height: 30px;
                 }
                 &:hover {
                     background-color: #fff;
                     color: $black;
                     box-shadow: 0px 0px 30px rgba(116, 138, 0, 0.2);
                     path {
                         fill: $black;
                         border: 1px solid $black;
                     }
                 }
             }
         }
         
         .menu {
             &__list {
                 display: flex;
             }
             &__link {
                 color: $white;
                 @extend%montserrat-500;
                 font-size: 15px;
                 line-height: 18px;
                 box-shadow: 0px 0px 30px rgba(116, 138, 0, 0.2);
                 &:hover {
                     border-bottom: 1px solid $secondary;
                 }
             }
             &__item+.menu__item {
                 padding-left: 80px;
             }
             &__phone {
                 color: $white;
                 @extend%montserrat-700;
                 font-size: 18px;
                 line-height: 22px;
             }
             &__btn {
                 display: none;
             }
         }
         
         .logo {
             min-width: 250px;
             min-height: 10px;
             & circle {
                 /* fill: $accent; */
                 display: none;
             }
             & rect {
                 fill: $black;
             }
             & path {
                 fill: $white;
             }
             /* Буквы логотипа*/
             & path.cls-10 {
                 fill: $default;
             }
         }
         
         .breaking {
             background-color: #fbfdf1;
             padding-bottom: 80px;
             &__inner {
                 display: grid;
                 grid-template-columns: repeat(2, 1fr);
                 grid-gap: 40px;
             }
             &__title {
                 color: $black;
             }
         }
         
         .breaking-item {
             background-color: #fff;
             min-width: 590px;
             background-repeat: no-repeat;
             background-position: bottom right;
             border: 2px solid $secondary;
             border-radius: 3px;
             box-shadow: 11px 11px 8px 0px rgba(34, 60, 80, 0.2);
             &:hover {
                 box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
             }
             &__columns {
                 width: 210px;
             }
             &__link {
                 z-index: 100;
                 margin-right: 30px;
                 margin-top: 20px
             }
             &__text {
                 font-size: 15px;
                 line-height: 135%;
                 z-index: 100;
                 &:hover {
                     color: $accent;
                     z-index: 100;
                 }
             }
             &--screen {
                 background-image: url('../images/breaking-icons/screen.png');
             }
             &--battery {
                 background-image: url('../images/breaking-icons/battery.png');
             }
             &--sound {
                 background-image: url('../images/breaking-icons/sound.png');
             }
             &--camera {
                 background-image: url('../images/breaking-icons/camera.png');
             }
             &--button {
                 background-image: url('../images/breaking-icons/button.png');
             }
             &--mic {
                 background-image: url('../images/breaking-icons/mic.png');
             }
             &--sim {
                 background-image: url('../images/breaking-icons/sim.png');
             }
             &--general {
                 background-image: url('../images/breaking-icons/general.png');
             }
             &__inner {
                 margin: 20px 0;
                 display: flex;
                 justify-content: space-around;
             }
             &__title {
                 text-align: left;
                 padding: 35px 0 20px 79px;
                 position: relative;
                 text-transform: uppercase;
                 &::before {
                     content: '';
                     position: absolute;
                     width: 30px;
                     height: 30px;
                     top: 23px;
                     left: 23px;
                 }
                 &--battery::before {
                     background-image: url('../images/breaking-icons/icons/battery.svg');
                 }
                 &--screen::before {
                     background-image: url('../images/breaking-icons/icons/screen.svg');
                 }
                 &--sound::before {
                     background-image: url('../images/breaking-icons/icons/sound.svg');
                 }
                 &--camera::before {
                     background-image: url('../images/breaking-icons/icons/camera.svg');
                 }
                 &--button::before {
                     background-image: url('../images/breaking-icons/icons/button.svg');
                 }
                 &--mic::before {
                     background-image: url('../images/breaking-icons/icons/mic.svg');
                 }
                 &--sim::before {
                     background-image: url('../images/breaking-icons/icons/sim.svg');
                 }
                 &--general::before {
                     background-image: url('../images/breaking-icons/icons/general.svg');
                 }
             }
         }
         
         .slider-choice {
             padding: 50px 0;
             background-color: #fbfdf1;
             &__item {
                 box-sizing: border-box;
                 /* display: block; */
                 border: 2px solid $secondary;
                 background-color: #fff;
                 height: 270px;
                 max-width: 366px;
                 border-radius: 5px;
                 box-shadow: 11px 11px 8px 0px rgba(34, 60, 80, 0.2);
             }
             &__item-inner {
                 padding: 0 30px;
             }
             &__item-icon {
                 padding: 25px 0 25px;
             }
             &__item-title {
                 border-top: 4px solid $accent;
                 padding: 25px 0 20px;
             }
             &__item-text {
                 font-size: 15px;
                 line-height: 20px;
                 padding-bottom: 43px;
             }
             &__inner {
                 padding-bottom: 50px;
             }
         }
         
         .swiper-pagination {
             &-bullet {
                 width: 10px;
                 height: 10px;
                 margin: 0 10px;
                 &-active {
                     width: 30px;
                     height: 10px;
                     border-radius: 5px;
                     background-color: $accent;
                 }
             }
         }
         
         .brands {
             background: rgb(0, 0, 0);
             background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(173, 196, 49, 1) 100%, rgba(173, 196, 49, 1) 100%);
             padding-bottom: 40px;
             &__inner {
                 display: grid;
                 grid-template-columns: repeat(5, 1fr);
                 grid-gap: 30px;
                 margin-bottom: 50px;
             }
             &__item {
                 border: 2px solid $accent;
                 border-radius: 3px;
                 background-color: $white;
                 width: 220px;
                 height: 100px;
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 &:hover {
                     background-color: $secondary;
                 }
             }
             &__btn {
                 display: flex;
                 justify-content: center;
             }
             &__btn-link {
                 padding: 16px 22px;
                 @extend%montserrat-700;
                 background-color: #fff;
                 border: 2px solid $secondary;
                 border-radius: 3px;
                 font-size: 15px;
                 line-height: 18px;
                 color: #000;
                 box-shadow: 0px 0px 30px rgba(116, 138, 0, 0.2);
                 &:hover {
                     background-color: $secondary;
                     color: #fff;
                 }
             }
             &__title {
                 color: $white;
             }
         }
         
         .reviews {
             padding-bottom: 150px;
         }
         
         .reviews-slider {
             margin-bottom: 50px;
             padding-bottom: 50px;
             &__item {
                 border: 2px solid $secondary;
                 border-radius: 5px;
                 width: 590px;
                 height: 300px;
                 padding: 35px;
                 box-shadow: 11px 11px 8px 0px rgba(34, 60, 80, 0.2);
             }
             &__item-name {
                 padding-left: 50px;
                 @extend%montserrat-700;
                 font-size: 18px;
                 line-height: 135%;
                 position: relative;
                 &::before {
                     content: '';
                     position: absolute;
                     background-image: url('../images/icons/chat.svg');
                     width: 30px;
                     height: 30px;
                     top: -3px;
                     left: 0px;
                 }
             }
             &__item-box {
                 margin: 25px 0;
                 display: flex;
             }
             &__item-date {
                 padding-right: 30px;
             }
             &__item-text {
                 margin-bottom: 25px;
                 height: 125px;
                 font-size: 16px;
                 line-height: 165%;
             }
             &__item-bottom {
                 padding-right: 20px;
                 display: flex;
                 justify-content: flex-end;
             }
             &__item-link {
                 padding-left: 10px;
                 color: $accent;
                 font-size: 18px;
             }
         }
         
         .reviews-bottom {
             display: flex;
             justify-content: space-between;
             align-items: center;
             &__link {
                 display: flex;
                 justify-content: center;
                 height: 50px;
                 padding: 16px 48px;
                 @extend%montserrat-700;
                 background-color: $accent;
                 font-size: 15px;
                 line-height: 18px;
                 text-transform: uppercase;
                 color: #fff;
                 border-radius: 3px;
             }
             &__inner {
                 display: flex;
                 justify-content: center;
             }
             &__btn {
                 border: 2px solid $secondary;
                 height: 50px;
                 margin-left: 20px;
                 padding: 13px 30px 13px 60px;
                 display: flex;
                 align-items: center;
                 @extend%montserrat-700;
                 font-size: 15px;
                 line-height: 18px;
                 background-color: #fff;
                 position: relative;
                 border-radius: 3px;
                 &:hover {
                     background-color: $secondary;
                     border: 2px solid $accent;
                     color: #fff;
                 }
                 &::after {
                     content: '';
                     position: absolute;
                     width: 24px;
                     height: 24px;
                     top: 13px;
                     left: 20px;
                     background-size: cover;
                 }
                 &--yandex::after {
                     background-image: url('../images/icons/yandex.svg');
                 }
                 &--google::after {
                     background-image: url('../images/icons/google.svg');
                 }
                 &--2gis::after {
                     background-image: url('../images/icons/2gis.svg');
                 }
             }
         }
         
         .contacts {
             background: rgb(0, 0, 0);
             background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(173, 196, 49, 1) 100%, rgba(173, 196, 49, 1) 100%);
             padding-bottom: 100px;
             &__map--frame {
                 max-width: 1220px;
                 height: 400px;
             }
             &__inner {
                 box-shadow: 0px 0px 30px rgba(116, 138, 0, 0.2);
                 border: 2px solid #ADC431;
                 border-radius: 5px;
                 margin-bottom: 40px;
             }
             &__text-item {
                 margin-bottom: 20px;
                 color: $white;
             }
             &__map-btn {
                 display: none;
                 background-color: #ADC431;
                 color: #FFF;
                 text-align: center;
                 padding: 16px 42px;
                 font-weight: 700;
                 font-size: 15px;
                 line-height: 18px;
                 margin-bottom: 30px;
             }
             &__title {
                 color: $white;
             }
         }
         
         .contacts-top {
             display: flex;
             justify-content: space-evenly;
             height: 145px;
             background-color: #fff;
             border-bottom: 2px solid $secondary;
             &__item {
                 padding: 34px 0;
                 display: flex;
                 flex-direction: column;
                 justify-content: center;
                 align-items: center;
             }
             &__item+.contacts-top__item {
                 border-left: 2px solid $secondary;
                 padding-left: 100px;
             }
             &__title {
                 @extend%montserrat-500;
                 font-size: 15px;
                 line-height: 135%;
                 color: #797979;
             }
             &__subtitle {
                 color: #797979;
                 font-size: 15px;
                 line-height: 165%;
             }
             &__text {
                 @extend%montserrat-700;
                 font-weight: 700;
                 font-size: 18px;
                 line-height: 165%;
             }
             &__link {
                 display: block;
                 font-size: 15px;
                 line-height: 165%;
                 text-decoration: underline;
             }
         }
         
         .footer {
             color: $black;
             padding-top: 50px;
             background-color: $secondary;
             &__title {
                 font-weight: 700;
                 font-size: 18px;
                 line-height: 135%;
                 padding: 30px 0;
                 position: relative;
                 &:before {
                     position: absolute;
                     content: "";
                     width: 1px;
                     height: 300px;
                     background-color: $accent;
                     top: 0;
                     left: -150px;
                 }
             }
             &__inner {
                 display: flex;
                 justify-content: space-between;
             }
             &__adress {
                 max-width: 550px;
             }
             &__brands-inner {
                 display: flex;
             }
             &__brands-columns {
                 &:nth-child(2) {
                     padding-left: 80px;
                 }
             }
             &__menu-item,
             &__brands-item {
                 margin-bottom: 25px;
                 & a {
                     color: $black;
                 }
                 & a:hover {
                     text-decoration: underline;
                 }
             }
         }
         
         .adress {
             &__inner {
                 padding-bottom: 10px;
             }
             &__slogan {
                 font-size: 16px;
                 line-height: 22px;
                 margin-top: 10px;
             }
             &__phone {
                 display: block;
                 @extend%montserrat-700;
                 font-size: 24px;
                 line-height: 165%;
                 padding: 20px 0;
             }
             &__text {
                 padding: 20px 0;
                 width: 330px;
             }
             &__adress {
                 margin-bottom: 10px;
             }
             &__time-work {
                 margin-bottom: 20px;
             }
         }
         
         .badge-widget {
             width: 140px;
             height: 120px;
         }
         
         .breaking-page {
             background-color: #fbfdf1;
             padding: 40px 0;
             &__inner {
                 background-color: #fff;
                 border: 2px solid $secondary;
                 border-radius: 5px;
             }
             &__box {
                 display: flex;
                 height: 360px;
             }
             &__image {
                 margin-top: auto;
                 width: 100%;
                 max-width: 420px;
                 height: 320px;
                 &-adaptive {
                     display: none;
                 }
             }
             &__box-inner {
                 border-left: 2px solid $secondary;
                 padding-left: 90px;
             }
             &__heading-inner {
                 padding-top: 20px;
             }
             &__title {
                 font-weight: 700;
                 font-size: 28px;
                 line-height: 135%;
                 text-transform: uppercase;
                 margin-bottom: 10px;
             }
             &__subtitle {
                 margin-bottom: 32px;
                 font-weight: 500;
                 font-size: 18px;
             }
             &__columns {
                 &-inner {
                     display: flex;
                 }
                 &-right {
                     padding-left: 120px;
                 }
             }
             &__text {
                 font-weight: 700;
                 font-size: 18px;
                 line-height: 135%;
                 color: #797979;
                 margin-bottom: 5px;
             }
             &__price,
             &__worktime {
                 display: block;
                 font-weight: 700;
                 font-size: 24px;
                 line-height: 135%;
                 /* or 32px */
                 color: #ADC431;
                 padding-bottom: 25px;
             }
             &__phone,
             &__adress {
                 display: block;
                 font-weight: 700;
                 font-size: 18px;
                 line-height: 22px;
                 padding-bottom: 35px;
             }
             &__link {
                 padding: 16px 42px;
                 background-color: #ADC431;
                 color: #FFF;
                 font-weight: 700;
                 font-size: 15px;
                 line-height: 18px;
                 border-radius: 3px;
                 &:hover {
                     box-shadow: 0px 0px 30px rgba(116, 138, 0, 0.2);
                     background-color: #fff;
                     color: #000;
                 }
             }
             &__call {
                 padding: 12px 38px;
                 border: 2px solid $secondary;
                 border-radius: 3px;
                 &:hover {
                     box-shadow: 0px 0px 30px rgba(116, 138, 0, 0.2);
                     background-color: #ADC431;
                     color: #FFF;
                 }
             }
         }
         
         .brands-page {
             background-color: #fbfdf1;
             padding: 40px 0;
             &__inner {
                 background-color: #fff;
                 border: 2px solid $secondary;
                 border-radius: 5px;
                 padding: 40px 0;
             }
             &__box {
                 display: flex;
                 justify-content: space-between;
                 padding: 0px 80px 0px 50px;
             }
             &__image {
                 width: 350px;
                 height: 350px;
                 &-adaptive {
                     display: none;
                 }
             }
             /*   &__box-inner {
                 padding-right: 80px;
             } */
             &__title {
                 font-weight: 700;
                 font-size: 26px;
                 line-height: 135%;
                 text-transform: uppercase;
                 margin-bottom: 10px;
             }
             &__subtitle {
                 margin-bottom: 32px;
                 font-weight: 500;
                 font-size: 18px;
             }
             &__columns {
                 &-inner {
                     display: flex;
                     justify-content: space-between;
                 }
                 &-right {
                     padding-left: 120px;
                 }
             }
             &__text {
                 font-weight: 700;
                 font-size: 18px;
                 line-height: 135%;
                 color: #797979;
             }
             &__price,
             &__worktime {
                 display: block;
                 font-weight: 700;
                 font-size: 24px;
                 line-height: 22px;
                 color: #ADC431;
             }
             &__phone,
             &__adress {
                 display: block;
                 font-weight: 700;
                 font-size: 18px;
                 line-height: 22px;
             }
             &__link {
                 display: block;
                 text-align: center;
                 padding: 16px 42px;
                 background-color: $secondary;
                 color: #FFF;
                 font-weight: 700;
                 font-size: 15px;
                 line-height: 18px;
                 border-radius: 3px;
                 &:hover {
                     box-shadow: 0px 0px 30px rgba(116, 138, 0, 0.2);
                 }
             }
             &__call {
                 text-align: center;
                 display: block;
                 padding: 14px 38px;
                 border: 2px solid $secondary;
                 border-radius: 3px;
                 &:hover {
                     box-shadow: 0px 0px 30px rgba(116, 138, 0, 0.2);
                 }
             }
             &__text {
                 margin-bottom: 20px;
             }
             &__wrap-price,
             &__wrap-worktime,
             &__wrap-phone,
             &__wrap-adress {
                 margin-bottom: 20px;
             }
         }
         
         .repair {
             margin-bottom: 100px;
             &__inner {
                 background-image: url('/images/repair.png');
                 /* background-size: cover; */
                 background-repeat: no-repeat;
                 background-position: bottom right;
                 box-shadow: 0px 0px 30px rgba(116, 138, 0, 0.2);
                 border: 2px solid $secondary;
                 display: flex;
                 justify-content: space-between;
                 padding: 45px 52px;
             }
             &__columns-title {
                 margin-bottom: 30px;
             }
             &__columns-text {
                 width: 390px;
                 margin-bottom: 40px;
                 font-size: 15px;
                 line-height: 25px;
             }
             &__columns-phone {
                 display: block;
                 font-size: 24px;
                 line-height: 30px;
                 margin-bottom: 20px;
             }
             &__columns-form {
                 width: 300px;
                 & input {
                     width: 300px;
                     height: 50px;
                     margin-bottom: 40px;
                     border: 2px solid $secondary;
                     padding-left: 20px;
                 }
                 & textarea {
                     min-width: 300px;
                     min-height: 140px;
                     resize: none;
                     border: 2px solid $secondary;
                     padding-top: 10px;
                     padding-left: 20px;
                     margin-bottom: 30px;
                 }
             }
             &__columns-btn {
                 padding: 15px 82px;
                 background-color: $accent;
                 border: none;
                 color: #FFF;
                 @extend%montserrat-700;
                 font-size: 15px;
                 line-height: 20px;
             }
             &__phone {
                 display: block;
                 font-size: 36px;
                 line-height: 30px;
                 margin-bottom: 20px
             }
         }
         
         .table-price {
             background-color: #fff;
             color: #000;
             margin-bottom: 40px;
             & table {
                 border-bottom: 2px solid $secondary;
                 width: 100%;
                 margin: 0;
                 padding: 0;
                 border-collapse: collapse;
                 border-spacing: 0;
             }
             table tr {
                 border: 2px solid $secondary;
                 padding: 5px;
             }
             table th,
             table td {
                 padding: 10px;
                 text-align: left;
                 border-right: 2px solid $secondary;
             }
             table th {
                 color: #fff;
                 background-color: $secondary;
                 text-transform: uppercase;
                 font-size: 14px;
                 letter-spacing: 1px;
             }
         }
         
         .order-form {
             padding-bottom: 40px;
             background-color: #fbfdf1;
             &__inner {
                 background-color: #fff;
                 display: flex;
                 justify-content: space-between;
                 padding: 45px 52px;
                 border: 2px solid $secondary;
                 box-shadow: 0px 0px 30px rgba(116, 138, 0, 0.2);
                 border-radius: 5px;
             }
             &__sutitle {
                 margin-bottom: 30px;
                 text-transform: uppercase;
             }
             &__text {
                 font-weight: 500;
                 font-size: 15px;
                 line-height: 165%;
                 /* or 25px */
                 margin-bottom: 20px;
                 max-width: 390px;
             }
             &__phone {
                 display: block;
                 margin-bottom: 20px;
                 font-weight: 700;
                 font-size: 18px;
                 line-height: 165%;
                 color: $secondary;
             }
             &__form {
                 padding-left: 30px;
                 max-width: 300px;
                 & input {
                     width: 300px;
                     height: 50px;
                     border: 1px solid $secondary;
                     margin-bottom: 25px;
                     padding: 15px 0px 15px 20px;
                     border-radius: 3px;
                 }
                 & button {
                     width: 300px;
                     height: 50px;
                     background-color: $secondary;
                     border: none;
                     color: #FFF;
                     text-transform: uppercase;
                     border-radius: 3px;
                 }
             }
             &__img {
                 object-fit: contain;
             }
         }
         
         @import 'media';