    body {
        @extend%montserrat-500;
        color: #000;
    }
    
    a {
        color: #000;
    }
    
    .container {
        max-width: 1254px;
        margin: 0 auto;
        padding: 0 15px;
        /*  overflow: hidden; */
    }
    
    .title {
        font-size: 28px;
        /* line-height: 135%; */
        line-height: 38px;
        padding: 100px 0 45px;
        text-align: center;
        text-transform: uppercase;
    }
    
    .item__title {
        font-size: 18px;
        line-height: 24px;
        @extend%montserrat-700;
    }
    
    .hidden {
        &__title,
        &__headline {
            display: none;
        }
    }