    @import 'vars';
    @import 'fonts';
    @import 'reset';
    @import 'global';
    @import 'libs';
    @import 'media';
    .header {
        background-color: #FFF;
        ;
        &__top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 24px 0;
        }
        &__inner {
            padding: 50px 0 116px;
            display: flex;
        }
        &__text {
            margin-top: 100px;
        }
        &__title {
            margin-bottom: 40px;
            @extend%montserrat-700;
            font-size: 48px;
            line-height: 59px;
        }
        &__subtitle {
            margin-bottom: 60px;
            @extend%montserrat-500;
            font-size: 18px;
            line-height: 22px;
        }
        &__btn {
            padding: 16px 48px;
            @extend%montserrat-700;
            background-color: $accent;
            font-size: 15px;
            line-height: 18px;
            color: #fff;
            box-shadow: 0px 0px 30px rgba(116, 138, 0, 0.2);
        }
    }
    
    .menu {
        &__list {
            display: flex;
        }
        &__link {
            @extend%montserrat-500;
            font-size: 15px;
            line-height: 18px;
        }
        &__item+.menu__item {
            padding-left: 80px;
        }
        &__phone {
            @extend%montserrat-700;
            font-size: 18px;
            line-height: 22px;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                background-image: url(/images/phone.svg);
                width: 21px;
                height: 20px;
                top: 0;
                left: -30px;
            }
        }
    }
    
    .slider-choice {
        padding: 45px 0;
        background-color: $default;
        &__item {
            background-color: #fff;
            display: flex;
            justify-content: center;
            max-width: 330px;
            height: 260px;
            box-shadow: 0px 0px 30px rgba(116, 138, 0, 0.2);
            margin: 20px 50px;
        }
        &__item-inner {
            padding: 0 30px;
        }
        &__item-icon {
            padding: 25px 0 25px;
        }
        &__item-title {
            border-top: 4px solid $accent;
            padding: 25px 0 20px;
        }
        &__item-text {
            font-size: 15px;
            line-height: 20px;
            padding-bottom: 43px;
        }
    }
    
    .breaking {
        background-color: $accent;
        padding-bottom: 140px;
        &__inner {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 40px;
        }
        &__title {
            color: #fff;
        }
    }
    
    .breaking-item {
        background-color: #fff;
        /* box-shadow: 0px 0px 30px rgba(116, 138, 0, 0.2); */
        width: 590px;
        height: 280px;
        position: relative;
        &:hover {
            box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
        }
        &__text {
            margin-top: 20px;
            font-size: 15px;
            line-height: 135%;
            &:hover {
                color: $accent;
            }
        }
        &__columns {
            padding-right: 30px;
        }
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
        }
        &--screen::before {
            background-image: url(/images/breaking-icons/screen.png);
            width: 201px;
            height: 163px;
        }
        &--battery::before {
            background-image: url(/images/breaking-icons/battery.png);
            width: 273px;
            height: 207px;
        }
        &--sound::before {
            background-image: url(/images/breaking-icons/sound.png);
            width: 255px;
            height: 160px;
        }
        &--camera::before {
            background-image: url(/images/breaking-icons/camera.png);
            width: 232px;
            height: 280px;
        }
        &--button::before {
            background-image: url(/images/breaking-icons/button.png);
            width: 494px;
            height: 280px;
        }
        &--mic::before {
            background-image: url(/images/breaking-icons/mic.png);
            width: 226px;
            height: 242px;
        }
        &--sim::before {
            background-image: url(/images/breaking-icons/sim.png);
            width: 215px;
            height: 157px;
        }
        &--general::before {
            background-image: url(/images/breaking-icons/general.png);
            width: 158px;
            height: 280px;
        }
        &__inner {
            display: flex;
            padding-left: 79px;
            padding-bottom: 60px;
        }
        &__title {
            text-align: left;
            padding: 35px 0 20px 79px;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                width: 30px;
                height: 30px;
                top: 30px;
                left: 27px;
            }
            &--battery::before {
                background-image: url(/images/breaking-icons/icons/battery.svg);
            }
            &--screen::before {
                background-image: url(/images/breaking-icons/icons/screen.svg);
            }
            &--sound::before {
                background-image: url(/images/breaking-icons/icons/sound.svg);
            }
            &--camera::before {
                background-image: url(/images/breaking-icons/icons/camera.svg);
            }
            &--button::before {
                background-image: url(/images/breaking-icons/icons/button.svg);
            }
            &--mic::before {
                background-image: url(/images/breaking-icons/icons/mic.svg);
            }
            &--sim::before {
                background-image: url(/images/breaking-icons/icons/sim.svg);
            }
            &--general::before {
                background-image: url(/images/breaking-icons/icons/general.svg);
            }
        }
    }
    
    .reviews {
        padding-bottom: 150px;
    }
    
    .reviews-slider {
        margin-bottom: 80px;
        &__item {
            margin: 25px;
            max-width: 560px;
            height: 354px;
            padding: 35px;
            box-shadow: 0px 0px 30px rgba(116, 138, 0, 0.2);
        }
        &__item-name {
            padding-left: 50px;
            @extend%montserrat-700;
            font-size: 18px;
            line-height: 135%;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                background-image: url(/images/icons/chat.svg);
                width: 30px;
                height: 30px;
                top: -3px;
                left: 0px;
            }
        }
        &__item-box {
            margin: 25px 0;
            display: flex;
        }
        &__item-date {
            padding-right: 30px;
        }
        &__item-text {
            margin-bottom: 25px;
            height: 125px;
            font-size: 16px;
            line-height: 165%;
        }
        &__item-bottom {
            padding-right: 20px;
            display: flex;
            justify-content: flex-end;
        }
        &__item-link {
            padding-left: 10px;
            &:hover {
                color: $accent;
            }
        }
    }
    
    .reviews-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__link {
            height: 50px;
            padding: 16px 48px;
            @extend%montserrat-700;
            background-color: $accent;
            font-size: 15px;
            line-height: 18px;
            text-transform: uppercase;
            color: #fff;
        }
        &__inner {
            display: flex;
        }
        &__btn {
            height: 50px;
            margin-left: 20px;
            padding: 13px 30px 13px 60px;
            display: flex;
            align-items: center;
            @extend%montserrat-700;
            font-size: 15px;
            line-height: 18px;
            box-shadow: 0px 0px 30px rgba(116, 138, 0, 0.2);
            background-color: #fff;
            position: relative;
            &:hover {
                box-shadow: 0px 0px 30px rgba(116, 138, 0, 1);
                /* box-shadow: 0px 0px 30px rgb(0, 106, 138); */
            }
            &::after {
                content: '';
                position: absolute;
                width: 24px;
                height: 24px;
                top: 13px;
                left: 20px;
                background-size: cover;
            }
            &--yandex::after {
                background-image: url(/images/icons/yandex.svg);
            }
            &--google::after {
                background-image: url(/images/icons/google.svg);
            }
            &--2gis::after {
                background-image: url(/images/icons/2gis.svg);
            }
        }
    }
    
    .actions {
        background-color: $accent;
        margin-bottom: 150px;
        &__title {
            color: #fff;
        }
    }
    
    .brands {
        background-color: $default;
        padding: 100px 0;
        &__inner {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 30px;
        }
        &__item {
            width: 220px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 0px 30px rgba(116, 138, 0, 0.2);
            &:hover {
                background-color: $default-4;
                opacity: 1;
                box-shadow: 0px 0px 30px rgba(116, 138, 0, 20);
            }
        }
    }
    
    .contacts {
        background-color: $default;
        &__map {
            margin-bottom: 30px;
            &--frame {
                border: 2px solid #ADC431;
            }
        }
    }
    
    .footer {
        background-color: $accent;
        margin: 100px 0;
        &__inner {
            display: flex;
        }
    }
    
    .adress {
        &__inner {
            display: flex;
            align-items: center;
        }
        &__phone {
            font-size: 18px;
            line-height: 165%;
            @extend%montserrat-700;
            color: $accent;
        }
        &__slogan {
            padding-left: 20px;
        }
        &__time-work {
            padding-left: 75px;
        }
        &__text {
            width: 420px;
            margin-left: auto;
        }
        &__adress {
            padding-left: 133px;
        }
    }